.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   padding: 20px;
   background-color: whitesmoke;
}
.container{
    padding: 20px;
    margin: 10px;
    background-color: white;
}
.card{
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    padding: 100px;
    

}
.formcontainer{
    padding: 80px;
}